HELP.md
# Maven
target/
logs/
*.log
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
.env

# STS (Spring Tool Suite) #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/
.idea/shelf/
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/.idea_modules
.idea/modules

# NetBeans #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code #
.vscode/
.history/

# Other #
application.properties